<h1>User detail</h1>
<% flash.each do |name, msg| %>
    <%=  content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<table>
    <tr>
        <td><label>Email:</label><br/>
        <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><label>First name:</label><br/>
      <td><%= @user.first_name %></td>
    </tr>
</table>
<%= link_to "Update", edit_user_path %>