<h1>Profile</h1>
<table>
    <tr>
        <td><label>Email:</label><br/>
        <td><%= @user.email %></td>
    </tr>
    <tr>
      <td><label>First name:</label><br/>
      <td><%= @user.first_name %></td>
    </tr>
</table>
<%= link_to "Update profile", edit_user_path(:id => current_user.id) %>