<%- model_class = Admin -%>
<div class="section-title">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= link_to t('Create Admin'), new_admin_admin_path,
            {:remote => true, 'data-toggle' =>  'modal',
             'data-target' => '#modal-window', :class => 'btn btn-primary'} %>
<div id="ajax_form">
  <%= render :partial => 'index_form' %>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>