/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 * require_tree .
 *= require jquery.ui.all
 *= require bootstrap_and_overrides.css
 *= require ./file-uploader/blueimp-gallery.min.css
 *= require ./file-uploader/jquery.fileupload.css
 *= require ./file-uploader/jquery.fileupload-ui.css
  *= require_self
 */

.page-header{
    margin: 0px;
    background:url(header.jpg), no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 140px;
}

.page-header .site-name{
    font-size: 42px;
    font-weight: bold;
    color: #ffffff;
    padding: 15px;
    display: block;
    width: 450px;
    float: left;
}

.page-header .site-name:hover{
    text-decoration: none;
}

body .log-in-form{
    width: 400px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

dd {
    min-height: 20px;
}

.asc{
    background:url(arrow_medium_down.png);
    background-repeat: no-repeat;
    background-position: right;
}

.desc{
    background:url(arrow_medium_up.png);
    background-repeat: no-repeat;
    background-position: right;
}

.table-striped thead a{
    padding-right: 18px;
}

.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default;
    margin: 0px;
    padding: 0px;
}

.apple_pagination .pagination{
    margin: 5px;
}

.apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em;
}

.apple_pagination .disabled {
    color: #aaaaaa;
}

.apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
}

.apple_pagination a {
    text-decoration: none;
    color: black;
}

.apple_pagination a:hover, .apple_pagination a:focus {
    text-decoration: underline;
}

.user-header-avatar{
    display: block;
    position: absolute;
    top: 15px;
    right: 25px;
}

.user-avatar-preview{
    height: 150px;
    display: block;
}

.prfile-detail{
    width: 400px;
    float: left;
    display: block;
}

.bnt-right{
    float: right;
}

.splitter {
    float: left;
    display: block;
    width: 100%;
}

.profile-container{
    display: block;
    width: 100%;
    float: left;
}

.form-action-container{
    float: left;
    width: 100%;
}

.btn-big{
    width: 170px;
}